[run]
source          = sekh
omit            = sekh/tests*

[report]
exclude_lines   =
    pragma: no cover
    from urllib.parse import urlsplit
    from urllib.parse import parse_qs
show_missing    = True
